* {
	font-family: 'Permanent Marker', cursive;
}

body {
	margin:0;
	padding:0;
}

.topo {
	height:50px;
	background-color:#353535;
}
.topointerior {
	width:900px;
	margin:auto;
	color:#FFFFFF;
}
.logomarca {
	float:left;
	font-size:24px;
	line-height: 50px;
}
.menu {
	display: right;
	float:right;
}
.menu ul,
.menu li {
	margin:0;
	padding:0;
	list-style:none;
}
.menu li {
	float:left;
	padding-left:10px;
	padding-right:10px;
	line-height: 50px;
	font-size:14px;
	cursor:pointer;
}
.menu li:hover {
	background-color:#00BFFF;
}
.menu li a {
	text-decoration: none;
	color: #FFFFFF;
}

.banner {
	height:300px;
	background-color:#00BFFF;
}
.bannerinterior {
	width:1000px;
	margin:auto;
}
.banneresquerda {
	float:left;
}
.bannerdireita {
	float:right;
}

.bannerdireita img {
	margin-top: 50px;
	margin-right: 100px;
	margin-bottom: 100px;
	max-width: 100%;
	transition: all 0.5s;
  cursor: pointer;
}

.bannerdireita img:hover {
	-webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.frase1 {
	font-size:48px;
	color:#FFFFFF;
	margin-top:60px;
}
.frase2 {
	font-size:20px;
	color:#FFFFFF;
}
.botao {
	background-color:#ffc001;
	width:282px;
	height:56px;
	font-size:20px;
	text-align:center;
	line-height:56px;
	margin-top:20px;
	cursor:pointer;
	border-radius:5px;
	transition: all 0.5s;
}
.botao a {
	text-decoration: none;
	color: #FFFFFF;
}

.botao:hover {
	-webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.conteudointerno {
	width:1000px;
	margin:auto;
}
.integrantes-originais {
	height:90px;
	font-size:20px;
	justify-content: center;
	line-height:90px;
}

.integrantes-originais p {
	text-align: end;
}

.fotos img {
	margin-left:10px;
	margin-right:10px;
	transition: all 0.5s;
  cursor: pointer;
}

.fotos img:hover {
	-webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

footer {
	background-color:#00BFFF;
	height:50px;
	text-align:center;
	line-height:50px;
	color:#FFFFFF;
	margin-top:40px;
}

footer a {
	text-decoration: none;
	color: #FFFFFF;
}

footer a:hover {
	color: #ffc001;
}

@media(max-width: 600px) {
	.topo, .banner, footer {
		width: 100%;
	}
	.topointerior  {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.logomarca {
		display: none;
	}
	.banneresquerda{
		display: flex;
		flex-direction: column;
		align-items: center;		
	}
	.frase1,.frase2  {
		padding-left: 10px;
	}
	.botao, .botao a {
		margin: 10px;
		padding: 10px;
	}
	.bannerdireita {
		display: none;
	}
	.fotos img{
		width: 25%;
		display: flex;
		flex-direction: column;
		padding-left: 40px;
	}
	.integrantes-originais p {
		text-align: left;
		font-size: 15px;
		padding-left: 40px;
	}

}